<!-- ko with: home -->
@model IEnumerable<ScavengerHunt.Models.Animal>


@{
    ViewBag.Title = "MetroParks Scavenger Hunt!";
}

<div class="jumbotron">
    <h1>MetroParks Scavenger Hunt!</h1>
    <p class="lead">Have fun tracking down the all the animals you can find in the MetroParks!</p>
</div>
<div id="animal-select">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 btn btn-primary photo-btn" id="@Html.DisplayFor(modelItem => item.AnimalName)">

            <img src="https://s3.wasabisys.com/scavenger-hunt/@Html.DisplayFor(modelItem => item.AnimalName).ToString().ToLower()icon.png"
        </div>
    }
</div>

<div id="take-picture" hidden>
    <div class="camera">
        <video id="video">Video stream not available.</video>
        <button id="startbutton">Take photo</button>
    </div>
    <canvas id="canvas"></canvas>
</div>
<div class="output" hidden>
    <img id="photo" alt="The screen capture will appear in this box.">
    <button id="submitbutton">Submit Photo</button>
</div>

<!-- /ko -->

<!-- Will use js to show and hide the elements I need when I need them, totally not ideal, but workable -->
