<!-- ko with: home -->
@model IEnumerable<ScavengerHunt.Models.Animal>


@{
    ViewBag.Title = "MetroParks Scavenger Hunt!";
}

<div class="jumbotron">
    <h1>MetroParks Scavenger Hunt!</h1>
    <p class="lead">Have fun tracking down the all the animals you can find in the MetroParks!</p>
</div>
@foreach (var item in Model)
{
    <div class="col-sm-6 btn btn-primary">
        @Html.DisplayFor(modelItem => item.AnimalName)
    </div>
}

<!-- /ko -->
